html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

th {
    text-align: left;
    color: #5c5c5c;
}

.breadcrumb svg {
    height: 100%;
    fill: rgba(3, 47, 98, 0.5);
}

.breadcrumb>a {
    color: #0366d6;
    text-decoration: none;
}

.paths-table {
    margin-left: 1ch;
}

.td-icon svg {
    height: 1em;
    fill: rgba(3, 47, 98, 0.5);
    padding-right: 0.5em;
    vertical-align: text-top;
}

.td-name a {
    color: #0366d6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.cell-size {
    text-align: right;
}

.td-name {
    min-width: 20ch;
    max-width: 50ch;
}

.cell-mtime {
    padding-left: 1ch;
}

.td-mtime {
    min-width: 20ch;
    padding-left: 1ch;
}

.td-size {
    text-align: right;
    min-width: 10ch;
}

.td-checkbox {
    padding-right: 1ch;
}

.del-btn {
    background-color: rgb(245, 53, 53);
    color: white;
}

.del-btn:hover {
    background-color: rgb(161, 0, 0);
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}

.rename-arrow svg {
    height: 0.7em;
    width: 2ch;
}

pre {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

div.actions {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

form.upload-form {
    margin-top: 1em;
}

.select-icon svg {
    height: 1.2em;
    fill: rgba(3, 47, 98, 0.5);
    padding-right: 0.5em;
    vertical-align: text-top;
}

.copy-paste svg {
    height: 1.5em;
    width: 1.5em;
    align-items: center;
}

.actions button {
    min-width: 8ch;
}

#drop-area {
    min-height: 70vh;
    min-width: 100vw;
}