{{define "title"}}
Confirm deletion - gofs
{{end}}

{{define "style"}}
{{end}}

{{define "content"}}
<form action="/delete" method="post">
    <input type="hidden" name="path" value="{{.Path}}">
    <div>Do you want to delete the below files/folders?</div>
    <div>
        <ul>
            {{range .Names}}
            <li><pre>{{.}}</pre></li><input type="hidden" name="items" value="{{.}}">
            {{end}}
        </ul>
    </div>
    <input type="submit" name="submit" value="Yes">
    <input type="submit" name="submit" value="No">
</form>
{{end}}